body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
      radial-gradient(circle at left, rgba(200,155,60,0.25), transparent 40%),
      linear-gradient(to bottom, rgba(0,0,0,0.9), #000);
}

/* HEADER */
.header {
  position: absolute; /* Tira o header da centralização do flexbox */
  top: 0;             /* Prende no topo */
  left: 0;            /* Prende na esquerda */
  width: 100%;        /* Faz ocupar a tela toda de um lado ao outro */
  box-sizing: border-box; /* Garante que o padding não faça o header vazar da tela */
  
  display: flex;
  justify-content: space-between; /* Nota: como você só tem a logo, o space-between não fará muito efeito até você adicionar mais itens no header */
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #c89b3c;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo__icon {
  width: 30px;
  transition: 0.3s;
}

.logo__icon:hover {
  transform: scale(1.2);
}

.logo__text {
  color: #c89b3c;
  font-size: 18px;
}

form {
  max-width: 1000px;
  padding: 100px;
  border: 0px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

/* Estilo para os parágrafos que contêm links */
form p {
    text-align: center;
    margin-top: 15px;
}

/* Estilo específico dos links (<a>) */
form a {
    color: #c89b3c; /* Tom de dourado que você já usa no header */
    text-decoration: none; /* Remove o sublinhado */
    font-family: 'Press Start 2P', cursive;
    font-size: 8px; /* Reduzi um pouco para não brigar com o botão */
    line-height: 1.5;
    transition: 0.3s;
}

form a:hover {
    color: #F2CB05; /* Cor mais clara ao passar o mouse */
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; 
  border-radius: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #F2CB05;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

button:hover {
  background-color: #F2B705;
}