/* HEADER */
.header {
    position: absolute;
    /* Tira o header da centralização do flexbox */
    top: 0;
    /* Prende no topo */
    left: 0;
    /* Prende na esquerda */
    width: 100%;
    /* Faz ocupar a tela toda de um lado ao outro */
    box-sizing: border-box;
    /* Garante que o padding não faça o header vazar da tela */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid #c89b3c;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__icon {
    width: 30px;
    transition: 0.3s;
}

.logo__icon:hover {
    transform: scale(1.2);
}

.logo__text {
    color: #c89b3c;
    font-size: 18px;
    text-decoration: none;
}