<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Contato | Heartz Club</title>


  <link rel="stylesheet" href="/heartzclub/src/main/resources/components/styles/global.css">

 
</head>

<body>

  <div id="header"></div>

  <main class="page">

    <section class="page__content">

      <h1 class="page__title">
        Contato
      </h1>

      <div class="page__card">

        <p class="page__text">
          📧 contato@heartzclub.com
        </p>

        <p class="page__text">
          📱 Instagram: @heartzclub
        </p>

        <p class="page__text">
          🎮 Discord: Heartz Club Community
        </p>

      </div>

    </section>

  </main>

  <div id="footer"></div>

 <script src="/heartzclub/src/main/resources/components/inlcuide.js"></script>

</body>

</html>