<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Privacidade | Heartz Club</title>

  <link rel="stylesheet" href="/heartzclub/src/main/resources/components/styles/global.css">

 
</head>

<body>

  <div id="header"></div>

  <main class="page">

    <section class="page__content">

      <h1 class="page__title">
        Política de Privacidade
      </h1>

      <div class="page__card">

        <p class="page__text">
          O Heartz Club respeita sua privacidade
          e protege os dados compartilhados pelos usuários.
        </p>

        <p class="page__text">
          Nenhuma informação será compartilhada sem autorização.
        </p>

        <p class="page__text">
          Nosso compromisso é garantir segurança
          e transparência durante toda a experiência na plataforma.
        </p>

      </div>

    </section>

  </main>

  <div id="footer"></div>
 <script src="/heartzclub/src/main/resources/components/inlcuide.js"></script>

</body>

</html>