<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sobre | Heartz Club</title>

  <link rel="stylesheet" href="/heartzclub/src/main/resources/components/styles/global.css">

 

</head>

<body>

  <div id="header"></div>

  <main class="page">

    <section class="page__content">

      <h1 class="page__title">
        Sobre
      </h1>

      <div class="page__card">

        <p class="page__text">
          O Heartz Club foi criado para reunir jogadores,
          organizar bibliotecas de jogos e compartilhar experiências.
        </p>

        <p class="page__text">
          Nosso objetivo é criar uma comunidade gamer moderna,
          organizada e divertida.
        </p>

      </div>

    </section>

  </main>

  <div id="footer"></div>

 <script src="/heartzclub/src/main/resources/components/inlcuide.js"></script>

</body>

</html>