* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
}

html, body {
  height: 100%;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero__title {
  max-width: 600px;
  margin: auto;
  font-size: 22px;
  line-height: 1.6;
}

.hero__button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #c89b3c;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero__button:hover {
  background: #ffd369;
  transform: scale(1.1);
  box-shadow: 
    0 0 20px #ffd369,
    0 0 40px #c89b3c;
}

.hero__button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px #c89b3c;
}

/* SECTION */
.section {
  padding: 40px;
}

.section__title {
  color: #c89b3c;
  margin-bottom: 20px;
  border-bottom: 2px solid #c89b3c;
  display: inline-block;
  padding-bottom: 5px;
}

/* GAMES */
.games {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.game {
  transition: 0.3s;
}

.game__img {
  width: 120px;
  border-radius: 5px;
  display: block;
}

.game:hover {
  transform: scale(1.1);
}