body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D0D0D;
}

form {
  max-width: 1000px;
  padding: 100px;
  border: 0px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; 
  border-radius: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}