<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Contato | Heartz Club</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/global.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/footer.css">

</head>

<body>

  <!-- HEADER -->
  <div id="header"></div>

  <!-- CONTEÚDO -->
  <main class="page">

    <section class="page__content">

      <h1 class="section__title">
        Contato
      </h1>

      <p class="page__text">
        📧 Email: contato@heartzclub.com
      </p>

      <p class="page__text">
        📱 Instagram: @heartzclub
      </p>

      <p class="page__text">
        🎮 Discord: Heartz Club Community
      </p>

    </section>

  </main>

  <!-- FOOTER -->
  <div id="footer"></div>

  <!-- JS -->
  <script src="../../js/include.js"></script>

</body>

</html>