<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sobre | Heartz Club</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles/global.css">


</head>

<body>

  <!-- HEADER -->
  <div id="header"></div>

  <!-- CONTEÚDO -->
  <main class="page">

    <section class="page__content">

      <h1 class="section__title">
        Sobre
      </h1>

      <p class="page__text">
        O Heartz Club é uma plataforma criada para jogadores
        organizarem seus jogos favoritos, compartilharem experiências
        e descobrirem novos títulos.
      </p>

      <p class="page__text">
        Nosso objetivo é criar uma comunidade gamer moderna,
        divertida e organizada.
      </p>

    </section>

  </main>

  <!-- FOOTER -->
  <div id="footer"></div>

  <!-- JS -->
  <script src="../inlcuide.js"></script>

</body>

</html>